/**=====================
    3.45 Dashboard_8 Start
==========================**/
.card-header-right-btn {
    padding: 9px 16px;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--light-slate);

    @media (max-width:350px) {
        padding: 6px;
    }
}

.shop-box {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--light-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--product-shadow);
    text-align: center;
    margin: 0 auto;
}

.category-title {
    text-align: center;
    display: block;
}

.main-our-product {
    .scroll-product {

        @media (min-width:1200px) and (max-width:1400px) {
            height: 725px;
            overflow-y: auto;
            scroll-behavior: smooth;

            /* ===== Scrollbar CSS ===== */
            /* Firefox */
            scrollbar-width: auto;
            scrollbar-color: #c2c8da #eef0f6;

            /* Chrome, Edge, and Safari */
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #eef0f6;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #c2c8da;
                border-radius: 18px;
                border: 3px solid #c2c8da;
            }
        }
    }

    &.card-body {
        padding-top: 0;

        @media (max-width:1445px) {
            padding-top: 30px;
        }
    }
}

.main-product-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width:991px) {
        margin-bottom: 18px;
    }

    @media (max-width:499px) {
        margin-bottom: 42px;
    }

    .product-header {
        p {
            @media (max-width:1445px) {
                display: none;
            }
        }
    }

    .product-body {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .product-search {

            @media (max-width:1445px) {
                position: absolute;
                top: 40px;
                left: 0;
                width: 40%;

                [dir="rtl"] & {
                    left: unset;
                    right: 0;
                }
            }

            @media (max-width:500px) {
                width: 64%;
            }

            .input-group-text {
                background-color: unset;
                border: 1px solid rgba(229, 229, 243, 0.8);
                border-radius: 5px;

                .search-icon {
                    width: 20px;
                    height: 20px;

                    @media (min-width:1400px) and (max-width:1920px) {
                        width: calc(18px + (20 - 18) * ((100vw - 1400px) / (1920 - 1400)));
                        width: calc(18px + (20 - 18) * ((100vw - 1400px) / (1920 - 1400)));
                    }
                }
            }

            .form-control {
                padding: 8px 8px 8px 0;
                border: 1px solid rgba(229, 229, 243, 0.8);
                border-left: unset;
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;

                [dir="rtl"] & {
                    border-left: 1px solid rgba(229, 229, 243, 0.8);
                    border-right: unset;
                    border-top-left-radius: 5px !important;
                    border-top-right-radius: unset !important;
                    border-bottom-left-radius: 5px !important;
                    border-bottom-right-radius: unset !important;

                }

                &:focus {
                    box-shadow: unset;
                }

            }
        }

        .product-search-bar {
            .dropdown-toggle {
                width: 150px;
                border-radius: 5px;
                padding: 11px 15px;
                background-color: unset;

                @media (max-width:575px) {
                    width: 142px;
                    padding: 11px 9px;
                }

                @media (max-width:499px) {
                    display: none;
                }

            }
        }
    }
}

// Product Card
.our-product-wrapper {
    box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);
    padding: 10px;
    border-radius: 5px;

    .our-product-img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: var(--product-shadow);
        background-color: var(--light-slate);
        height: 158px;
        padding: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .our-product-content {
        .add-quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 5px 13px;

            @media (max-width:1525px) {
                padding: 4px 8px;
                gap: 8px;
            }

            @media (max-width:1290px) {
                padding: 4px 8px;
                gap: 5px;
            }

            .remove-minus {
                display: none;
            }

            .countdown-remove {
                text-align: center;
                width: 25px;
                border: unset;
                display: none;
                background-color: transparent;
                color: var(--text-gray);
                padding: 0;
                font-size: 12px;

                @media (max-width:1235px) {
                    width: 16px;
                }
            }

        }
    }
}

// Right Order Details
.customer-sidebar-left {

    @media (max-width:1199px) {
        order: -1;
    }

    .responsive-order-details {
        &.md-sidebar-aside {
            height: 100%;

            @media (max-width:1199px) {
                width: 330px;
            }

            @media (max-width:400px) {
                width: 280px;
            }
        }
    }

}

.customer-sticky {
    @media (min-width:1200px) and (max-width:1920px) {
        height: calc(100% - 30px);
    }
}

.order-details {
    .form-select {
        &:focus {
            box-shadow: unset !important;
        }
    }

    h5 {
        padding: 34px 0 18px 0;
    }

    .order-quantity {
        display: flex;
        flex-direction: column;
        gap: 36px;

        .order-details-wrapper {
            display: flex;
            gap: 10px;

            @media (max-width:1700px) {
                gap: 8px;
            }

            .left-details {
                display: flex;
                gap: 10px;

                .order-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    box-shadow: var(--product-shadow);
                    background-color: var(--light-slate);
                    height: 94px;
                    padding: 15px 20px;
                    width: 100px;

                    @media (min-width:1400px) and (max-width:1920px) {
                        width: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
                        height: calc(45px + (100 - 45) * ((100vw - 320px) / (1920 - 320)));
                    }

                    img {
                        width: 100px;
                        height: 100%;
                        object-fit: contain;

                        @media (min-width:1400px) and (max-width:1920px) {
                            height: calc(40% + (100 - 90) * ((100vw - 320px) / (1920 - 1500)));
                        }
                    }
                }
            }

            .category-details {
                display: flex;
                align-items: center;
                gap: 3px;
                justify-content: space-between;
                -webkit-box-flex: 1;
                flex: 1;

                @media (max-width:1700px) {
                    flex-direction: column;
                    gap: 12px;
                    align-items: flex-start;
                }

                .right-details {
                    padding: 4px;
                    background-color: var(--light-slate);
                    border-radius: 50px;
                    text-align: center;
                    margin: 0;

                    @media (min-width:1400px) and (max-width:1700px) {
                        width: 70%;
                    }

                    @media (max-width:1400px) {
                        width: 100px;
                    }

                    .touchspin-wrapper {

                        @media (max-width:1700px) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .btn-touchspin {
                            border-radius: 50px;
                            width: 27px;
                            height: 27px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: unset;
                            background-color: var(--white);
                            padding: 0;

                            @media (min-width:1400px) and (max-width:1920px) {
                                width: calc(18px + (27 - 18) * ((100vw - 1400px) / (1920 - 1400)));
                                height: calc(18px + (27 - 18) * ((100vw - 1400px) / (1920 - 1400)));
                            }
                        }

                        input[type='number'] {
                            width: 27px;
                            padding: 0;
                            text-align: center;
                            border: unset;
                            background-color: unset;
                            color: var(--body-font-color);

                            @media (max-width:1700px) {
                                padding: 0;
                            }

                            @media (min-width:1400px) and (max-width:1920px) {
                                width: calc(18px + (27 - 18) * ((100vw - 1400px) / (1920 - 1400)));
                            }
                        }

                    }
                }

                .order-details-right {

                    .last-order-detail {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        a {
                            i {
                                color: var(--text-gray);
                                font-size: 15px;
                            }
                        }

                    }
                }
            }


            &.product-remove {
                display: none;
            }
        }
    }

    .total-item {
        margin-top: 20px;
        padding: 12px 15px;
        background-color: var(--light-slate);
        border-radius: 5px;

        .item-number {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }
    }
}

// Payment Methods
.payment-methods {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .bg-payment {
        background-color: var(--light-slate);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 21px;
        border-radius: 5px;
        width: 90px;
        height: 80px;
        border: 1px solid transparent;

        @media (max-width:1785px) {
            width: 85px;
        }

        @media (max-width:1720px) {
            width: 75px;
            height: 71px;
        }

        @media (max-width:1585px) {
            width: 68px;
            height: 68px;
        }

        @media (max-width:1485px) {
            width: 64px;
            height: 64px;
        }

        @media (max-width:1445px) {
            width: 64px;
            height: 64px;
        }

        @media (max-width:1455px) {
            width: 60px;
            height: 60px;
        }

        img {
            filter: grayscale(1);
            height: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
        }

        &:hover,
        &.active,
        :focus {
            border: 1px solid var(--theme-deafult);
            background-color: $light-primary;

            img {
                filter: unset;
            }
        }
    }

    span {
        padding-top: 12px;
    }
}

// Place-holder Button
.place-order {
    margin-top: 17px;

    button {
        padding: 11px 0;
    }
}

//Empty Cart
.empty-card {
    display: none;

    &.show {
        display: block;
    }
}

.empty-cart-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .empty-cart-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: var(--light-slate);

        @media screen and (max-width:1920px) and (min-width: 1400px) {
            width: calc(85px + (100 - 45) * ((100vw - 1400px) / (1920 - 1400)));
            height: calc(85px + (100 - 45) * ((100vw - 1400px) / (1920 - 1400)));
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    h6 {
        line-height: 22px;
        padding-top: 14px;
    }
}

/**=====================
   3.45 Dashboard_8 Ends
==========================**/